[Desktop Entry]
Name=SNALD
GenericName=Spooky Door-Controllin' Vent-Patrollin' Game
Exec=/app/bin/snald
Icon=games.handlewithcare.snald
Type=Application
Categories=Game